extends ../base.pug

block content 
  form(method="POST")
    input(name="title" placeholder="Video Title" value=video.title required)
    input(name="description" type="text" placeholder="Description" value=video.description required minlength=10)
    input(name="hashtags" type="text" placeholder="Hashtags, separated by comma" value=video.hashtags.join() required )
    input(value="Save" type="submit")